project_id         = "your-service-project-id"
network_project_id = "your-shared-vpc-host-project-id"
private_network_id = "projects/your-shared-vpc-host-project-id/global/networks/shared-vpc-name"
subnetwork_id      = "projects/your-shared-vpc-host-project-id/regions/me-west1/subnetworks/shared-subnet-name"
subnetwork_region  = "me-west1"
vm_name            = "your-target-vm-name"

db_databases = {
  main = {
    database_name = "app"
    user_name     = "app"
    secret_id     = "app-db-password"
  }
  secondary = {
    database_name = "app_secondary"
    user_name     = "app_secondary"
    secret_id     = "app-secondary-db-password"
  }
}

secret_manager_secrets = {
  app_config = {
    secret_id   = "app-config"
    secret_data = "replace-with-secret-value"
    labels = {
      app = "manish"
    }
  }
}
